<!DOCTYPE html>
<html>
  <head>
    <title>Lab Index</title>
    <link rel="stylesheet" href="static/css/lab_javascript.css">
    <script src="static/javascript/lab_javascript.js" defer></script>
  </head>
  <body>
    <div class="centered">
      <h3 id="result">Type the Following text:</h3>
    </div>
    <div class="centered">
      <h3 id="level">Easy</h3>
    </div>
    <div class="centered">
      <strong id="goal">CS 3308</strong>
    </div>
    <div class="centered">
      <p id="userinput"></p>
    </div>
    <div class="centered">
      <button id="restartButton">Restart</button>
    </div>
  </body>
</html>