<html>
    <body>
        <h1 style="text-align: center;">About</h1>
        <div>
            <p>
                This is a JavaScript typing game that was created for CSPB 3308.
            </p>
        </div>
        <h2 style="text-align: center;">Changes</h2>
        <div>
            <p>The changes made to this game from the original assignment are:</p>
            <ul>
                <li>Added support for the backspace button</li>
                <li>Added additional challenges to the game with corresponding difficulties</li>
                <li>Added a restart button</li>
                <li>Added a next challenge button</li>
                <li>Added a timer mechanism for the game to display the time taken to complete a challenge</li>
                <li>Reset the challenge for each new challenge so only its time taken to complete is displayed</li>
                <li>Added a random challenges option after the first four challenges have been completed</li>
                <li>Added style changes to the HTML document with more CSS</li>
                <li>Formalized the tags in the HTML document to not be in random order</li>
            </ul>
        </div>
    </body>
</html>